.stv-radio-tabs-wrapper {
    clear: both;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #428bca;
    padding: 0 10px;
    position: relative;
  }
  
  input.stv-radio-tab {
    position: absolute;
    left: -99999em;
    top: -99999em;
  }
  input.stv-radio-tab + label {
    cursor: pointer;
    float: left;
    border: 1px solid #aaa;
    border-bottom: 0;
    background-color: #fff;
    margin-right: -1px;
    padding: 0.5em 1em;
    position: relative;
  }
  input.stv-radio-tab + label:hover {
    background-color: #eee;
  }
  input.stv-radio-tab:checked + label {
    box-shadow: 0 3px 0 -1px #fff, inset 0 5px 0 -1px #13CD4A;
    background-color: #fff;
    border-color: #428bca;
    z-index: 1;
  }